/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */




.jarvisGPT{
  font-weight: bold;
  
}


.visibilityButton{
    position: relative;
    left: 400px;
    bottom: 55px;
}

input{
    outline: none;
}



.hoverbottom:hover{
  background-color: hsl(0, 6%, 90%);
}


@media(max-width: 950px){
  .jarvisGPT{
margin: auto;
margin-top: 100px;
}

.termsofuse{
  display: none;
  
}

.welcomeBack{
  margin-top: 0;
}


}


@media(max-width: 480px){

  .submitButton{
  width: 340px;
  margin: auto;
}


.passbutton{
    margin-left: 23px;
}


.visibilityButton{
    margin: 0;
    padding: 0;
    position: relative;
    left: 300px !important;
    
}







}



/* relative top-3 right-10 transform -translate-y-1/2 */

